//- body.jade
//- This file provides the HTML body part.

body
  h1 W3C Linked Data Platform Reference Implementation in NodeJS
    h2= 'This application is powered by NodeJS (version ' + process.version + ') on ' + process.platform + ' platform.'
    table(border="0", cellspacing="0", cellpadding="0")
      thead
        tr
          th.env-var Name
          th Value
      tbody
        each val, name in process.env
          - if (name == 'VCAP_SERVICES') val = '**hidden**'
          tr
            td.env-var= name
            td
              //- If the value is JSON, print it in a prettier format.
              pre= /^{/.test(val) ? JSON.stringify(JSON.parse(val), null, '  ') : val

